body 
{
	
	padding-bottom: 20px;
}

#title 
{
	margin-top: 10px;
	text-align: center;
	font-size: 25px;
}

#map, #settings
{ 
	height: 600px;
	margin-bottom: 10px;
	border: 1px solid #c6bb58;
    box-shadow: 2px 4px 2px #999;
}

#map_container
{
	margin-top: 20px;
}

#settings
{
	background-color: #eee;
	width: auto;
}

#Note
{
	text-align: center;
	background: none repeat scroll 0 0 #fbf5bf;
    border: 1px solid #c6bb58;
    box-shadow: 2px 2px 6px #999;
    color: #666;
    height: 4em;
    padding: .5em;
    width: 100%;
    overflow: auto;
}

#Copyright
{
	text-align: center;
}

/* -------------------------------- */

.legend, .temporal-legend{
	padding: 6px 10px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}

#legendTitle {
	text-align: center;
	margin-bottom: 7px;
	margin-top: 0px;
	font-variant: small-caps;
}
.symbolsContainer {
	float: left;
	margin-left: 50px;
}
.legendCircle {
	border-radius:50%;
	border: 1px solid #8A0707;
	background: rgba(138, 7, 7, .6);
	display: inline-block;
}
.legendValue {
	position: absolute;
	right: 5px;
}

.leaflet-control-scale-line
{
	background: rgba(255, 255, 255, 0.5);
}