svg
{
	position: absolute;
}

.countries
{
	fill: #F1F1F4;
}

.gratBackground
{
	fill: #D5E3FF;
}

.gratLines
{
	fill: none;
	stroke: #999;
	stroke-width: 1px;
}

.map
{
	margin-left: 7%;
	border: medium solid #999;
	float: left;
	position: relative;
}
.chart
{
	background-color: #e8e8ee;
	border: medium solid #999;
	margin-left: 50px;
	margin-top: 100px;
	position: absolute;
}

.chartTitle
{
	font-size: 1.2em;
	font-weight: bold;
}

.infoLabel
{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
	position: absolute;
	height: auto;
	width: auto;
	background: none repeat scroll 0 0 #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
	text-align: center;
	padding: 4px;
}

#Interface
{
	position: absolute;
	margin-top: -1.2%;
	margin-left: 52.5%;
}

#Interface h3
{
	position: absolute;
	float: left;
}

#mapType
{
	position: relative;
	display: inline-block;
	margin-left: 100px;
	margin-top: 20px;
	float: left;
}

.dropdown
{
    margin-left: 53%;
    margin-top: -40%;
    position: relative;
    float: left;
}

.selector
{
	position: relative;
	margin-left: 135px;
	margin-top: -39px;
	float: left;
}

body h1
{
	text-align: center;
}