svg
{
	position: absolute;
}

.countries
{
	fill: #F1F1F4;
}

.gratBackground
{
	fill: #D5E3FF;
}

.gratLines
{
	fill: none;
	stroke: #999;
	stroke-width: 1px;
}

.map
{
	border: medium solid #999;
	float: left;
	position: relative;
}
.chart
{
	background-color: #e8e8ee;
	border: medium solid #999;
	margin-left: 50px;
	margin-top: 150px;
	position: absolute;
}
.dropdown
{
	position: absolute;
	margin-bottom: -20px;
    margin-left: 755px;
    float: left;
}

.chartTitle
{
	font-size: 1.5em;
	font-weight: bold;
}

.infoLabel
{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
	position: absolute;
	height: auto;
	width: auto;
	background: none repeat scroll 0 0 #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
	text-align: center;
	padding: 4px;
}

.map_legend
{
	position: absolute;
}